<mat-toolbar>
  <span class="tool-bar">Random string generator\encoder written in go</span>
  <input style="margin-left: 15px; margin-right: 15px;" placeholder="numstring:" (keypress)="numberOnly($event)" (keyup)="processInputValueChange('numstring', $event.target.value)" type="text">
  <input style="margin-left: 15px; margin-right: 15px;" placeholder="stringlength:" (keypress)="numberOnly($event)" (keyup)="processInputValueChange('stringlength', $event.target.value)" type="text">          
  <button class="add-button" (click)="processStrings()">Process strings</button>
</mat-toolbar>
<br/>

<table class="table table-hover" style="width: 100%; margin: 15px;">
  <thead>
      <tr style="background-color: aliceblue;">
          <td>ENCODED_STRING</td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let string of dataSource.encodedstrings">
          <td>{{string}}</td>
      </tr>
  </tbody>
</table> 
